<div>
    <nav class="navbar navbar-expand-lg navbar fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'library' %}"><i class="bi bi-book-fill" style="opacity:0.9;"></i>E-Lib</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a> {% endcomment %}
                    </li>
                    <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'profile' %}">Profile</a> {% endcomment %}
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>