{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
<div class="search_container">
    <input type="text" class="search_field" placeholder="Suche..." id="search_field_searchbar">
    <button class="btn btn-primary" data_url="{% url 'search_books' %}" onclick="search_books()" id="search_button_searchbar">
        <i class="bi bi-search"></i>
    </button>    
</div>

<div id="results_container_searchbar"></div>

<script src="{% static 'js/library/search_books.js' %}"></script>